= bootstrap_devise_error_messages!
.col-md-8.col-md-offset-2
  .row
    .panel.panel-default
      .panel.panel-heading
        %h4= t('.title', resource: resource_class.model_name.human , default: "Edit #{resource_name.to_s.humanize}")
      .panel-body
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          .form-group
            = f.label :email
            = f.email_field :email, autofocus: true, class: 'form-control'
          .form-group
            = f.label :password
            %i
              (#{t('.leave_blank_if_you_don_t_want_to_change_it', default: "leave blank if you don't want to change it")})
            = f.password_field :password, autocomplete: "off", class: 'form-control'
          .form-group
            = f.label :password_confirmation
            = f.password_field :password_confirmation, class: 'form-control'
          .form-group
            = f.label :current_password
            %i
              (#{t('.we_need_your_current_password_to_confirm_your_changes', default: 'we need your current password to confirm your changes')})
            = f.password_field :current_password, class: 'form-control'
          = f.submit t('.update', default: 'Update'), class: 'btn btn-info'
      .panel-footer
        %h3 Cancel Account
        %p= t('.unhappy', default: 'Unhappy').concat(" ?")
        #{link_to t('.cancel_my_account', default: 'Cancel my account'), registration_path(resource_name),data: { confirm: t('.are_you_sure', default: "Are you sure?") }, method: :delete, class: 'btn btn-default'}.
    = link_to t('.back', default: 'Back', ), :back, class: 'btn btn-default'
