.nav.navbar.navbar-inverse
  .container
    .navbar-brand= link_to "InstagramM", root_path
    - if user_signed_in?
      %ul.nav.navbar-nav.navbar-left
        %li= link_to "Gram it!", new_pic_path
        %li= link_to "Settings", edit_user_registration_path
        %li= link_to "Sign out", destroy_user_session_path, method: :delete

    - else
      %ul.nav.navbar-nav.navbar-left
        %li= link_to "Join", new_user_registration_path
        %li= link_to "Log In", new_user_session_path