!!!
%html
  %head
    %title InstagrammApp
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = render 'layouts/header'

    .container
      - flash.each do |type, msg|
        = content_tag :span,msg, class: "#{type}", id: "puffly"


      = yield


